<!-- StackLayout
The StackLayout stacks its child elements below or beside each other, depending on its orientation. It is very useful to create lists. -->

<Page>
    <ActionBar title="Stack Layout">
        <ActionItem text="Share" (tap)="share()" android.systemIcon="ic_menu_share_holo_dark" ios.systemIcon="9" ios.position="right"></ActionItem>
    </ActionBar>

    <!-- Sample (orientation="vertical") -->
    <!-- <StackLayout orientation="vertical" width="210" height="210" backgroundColor="lightgray">
      <Label text="Label 1" width="50" height="50" backgroundColor="red"></Label>
      <Label text="Label 2" width="50" height="50" backgroundColor="green"></Label>
      <Label text="Label 3" width="50" height="50" backgroundColor="blue"></Label>
      <Label text="Label 4" width="50" height="50" backgroundColor="yellow"></Label>
    </StackLayout> -->

    <!-- Sample (orientation="horizontal") -->
    <!-- <StackLayout orientation="horizontal" width="210" height="210" backgroundColor="lightgray">
        <Label text="Label 1" width="50" height="50" backgroundColor="red"></Label>
        <Label text="Label 2" width="50" height="50" backgroundColor="green"></Label>
        <Label text="Label 3" width="50" height="50" backgroundColor="blue"></Label>
        <Label text="Label 4" width="50" height="50" backgroundColor="yellow"></Label>
    </StackLayout> -->

    <!-- Sample (horizontal alignment of children) -->
    <!-- <StackLayout orientation="vertical" width="210" height="210" backgroundColor="lightgray">
        <Label text="Label 1" horizontalAlignment="left" backgroundColor="red"></Label>
        <Label text="Label 2" horizontalAlignment="center" backgroundColor="green"></Label>
        <Label text="Label 3" horizontalAlignment="right" backgroundColor="blue"></Label>
        <Label text="Label 4" horizontalAlignment="stretch" backgroundColor="yellow"></Label>
    </StackLayout> -->

    <!-- Sample (vertical alignment of children) -->
    <StackLayout orientation="horizontal" width="210" height="210" backgroundColor="lightgray">
        <Label text="Label 1" verticalAlignment="top" backgroundColor="red"></Label>
        <Label text="Label 2" verticalAlignment="center" backgroundColor="green"></Label>
        <Label text="Label 3" verticalAlignment="bottom" backgroundColor="blue"></Label>
        <Label text="Label 4" verticalAlignment="stretch" backgroundColor="yellow"></Label>
    </StackLayout>
  </Page>

    