@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>GSM | Global Service Manager </title>

    <meta name="description" content="Worthy a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link rel="icon" href="Resources/Logo/Logo_gsm.png" />
    <link href="~/Content/_LoginContent/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/_LoginContent/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/_LoginContent/css/animations.css" rel="stylesheet">
    <link href="~/Content/_LoginContent/css/style.css" rel="stylesheet">
    <link href="~/Content/_LoginContent/css/custom.css" rel="stylesheet">
    <link href="~/Content/_JQuery/style.css" rel="stylesheet" />
</head>

<body class="no-trans">
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>
    <header class="header fixed clearfix navbar navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-md-4">
                    <div class="header-left clearfix">
                        <div class="logo smooth-scroll">
                            <a href="#banner">
                                <img id="logo" src="~/Images/logo.png" alt="Worthy" />
                            </a>
                        </div>
                        <div class="site-name-and-slogan smooth-scroll">
                            <div class="site-name"></div>
                            <div class="site-slogan"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-md-8">
                    <div class="header-right clearfix">
                        <div class="main-navigation animated">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="active"><a href="#banner">Login</a></li>
                                            <li><a href="#about">Sobre o GSM</a></li>
                                            <li><a href="#services">Por que o GSM?</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="banner" class="banner">
        <div class="banner-image"></div>
        <div class="banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <input name="login" type="text" id="txt-login" maxlength="70" class="form-control" style="margin-bottom: 10px; height: 25px; opacity:0.65; -moz-opacity: 0.65; filter: alpha(opacity=65);" placeholder="Login" autofocus />
                        <input name="senha" type="password" id="txt-senha" maxlength="20" class="form-control" style="margin-bottom: 10px; height: 25px; opacity:0.65; -moz-opacity: 0.65; filter: alpha(opacity=65);" placeholder="Senha" />

                        <a id="btn-reset" style="color: white; text-decoration: none; cursor:pointer;"><i class="icon-question-sign"></i><span>&nbsp;Esqueci a Senha</span></a>
                        <input type="button" id="btn-login" class="btn btn-lg btn-primary btn-block" value="LOGIN" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="about" class="title text-center">Sobre o  <span>GSM</span></h1>
                    <p class="lead text-center">"O sistema busca dar velocidade a integração entre nossos clientes e serviços."</p>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/Content/_LoginContent/images/section-image-1.png" alt="">
                            <div class="space"></div>
                        </div>
                        <div class="col-md-6">
                            <p style="text-align: justify;text-justify: inter-word;">
                                O Global Service Manager (GSM) é um sistema remoto destinado ao cadastro e acompanhamento de ordens de serviços internos e externos, é um sistema eficiente que busca dar velocidade a integração entre nossos clientes e serviços.
                                O GSM foi criado em 2013 e desde o momento é atualizado diariamente para satisfazer cada vez mais as necessidades dos clientes e funcionários da Global System.
                            </p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i>Interface simples</li>
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i>Status de trabalho</li>
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i>Dashboard personalizado</li>
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i>Análise de horas trabalhadas</li>
                                <li><i class="fa fa-caret-right pr-10 text-colored"></i>Gestão alinhada a simplicidade</li>
                            </ul>
                        </div>
                    </div>
                    <div class="space"></div>
                    <h2>Operação GSM </h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Fábrica
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body" style="text-align: justify;text-justify: inter-word;">
                                            A Fábrica, dá ao colaborador a possibilidade de criar uma série de Atividades e Serviços, dentro
                                            das Ordens de Serviço criadas.
                                            Dentro da Fábrica, temos subitens específicos para isso, além de constar também um subitem
                                            para gestão do Painel de Produção e de prioridades.
                                            Contamos com determinadas funções dentro do Menu Fábrica, e são elas:
                                            <ul>
                                                <li>Atividade;</li>
                                                <li>Cad Painel de Produção;</li>
                                                <li>Painel Produção;</li>
                                                <li>Prazo;</li>
                                                <li>Prioridade;</li>
                                                <li>Serviço</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Gestão
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            No Menu de Gestão, é possível, Gerenciar os projetos e fazer uma análise geral das atividades
                                            que estão sendo desenvolvidas por prazo estipulado para as mesmas.
                                            <br />Também é possível verificar
                                            as configurações dos projetos, para que se tenha total conhecimento dos responsáveis e dos
                                            processos nele contidos.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Relatórios
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            Os Relatórios são interfaces gerenciais que permite que o usuário responsável por determinado
                                            setor possa analisar informações de tempo VS prazo de projeto em Fábrica, horas trabalhadas,
                                            projetos em aberto, informações detalhadas sobre projetos, entre outros.
                                            O Menu conta com os seguintes tópicos:
                                            <ul>
                                                <li>Consolidado Projeto</li>
                                                <li>Consolidado Recurso</li>
                                                <li>Detalhado Projeto</li>
                                                <li>Detalhado Recurso</li>
                                                <li>Tempo Fábrica</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section translucent-bg bg-image-1 blue">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
            <h1 id="services" class="text-center title">Por que o GSM?</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Motivo 1</h4>
                            <p style="text-align: justify;text-justify: inter-word;">
                                O GSM é um software com interface amigável, simples e moderna, que busca facilitar a gestão dos serviços de forma dinâmica e interativa, um poderoso aliado na gestão dos serviços da empresa.
                            </p>
                        </div>
                        <div class="media-right"><i class="fa fa-cog"></i></div>
                    </div>

                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Motivo 2</h4>
                            <p style="text-align: justify;text-justify: inter-word;">
                                A Ferramenta trabalha com diversos níveis de hierarquia, onde cada nível é responsável por determinados tipos de aprovação, esse padrão visa dar confiabilidade e organização para a gestão de serviços.
                            </p>
                        </div>
                        <div class="media-right"><i class="fa fa-check"></i></div>
                    </div>
                </div>
                <div class="space visible-xs"></div>
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Motivo 3</h4>
                            <p style="text-align: justify;text-justify: inter-word;">
                                Integração com todos os browsers, inclusive mobile, e possui usabilidade fácil, garantindo rapidez e melhor aproveitamento da jornada de trabalho.
                            </p>
                        </div>
                        <div class="media-right"><i class="fa fa-desktop"></i></div>
                    </div>
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Motivo 4</h4>
                            <p style="text-align: justify;text-justify: inter-word;">
                                O Dashboard é a tela inicial do GSM, foi elaborado para atender a necessidade de cada perfil no software, mostrando de forma resumida painéis de acompanhamento dos serviços gerados pela empresa.
                            </p>
                        </div>
                        <div class="media-right"><i class="fa fa-desktop"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">&copy; @DateTime.Now.Year GSM | Global System All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/Content/_LoginContent/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/_LoginContent/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/_LoginContent/js/bootbox.js"></script>
    <script type="text/javascript" src="~/Content/_LoginContent/plugins/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/_LoginContent/plugins/isotope/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Content/_LoginContent/plugins/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="~/Content/_LoginContent/plugins/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/_LoginContent/js/template.js"></script>
    <script type="text/javascript" src="~/Content/_LoginContent/js/custom.js"></script>
    <script type="text/javascript" src="~/Content/_LoginContent/bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/_JQuery/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/_Bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/Global/Global.js"></script>
    <script src="~/Scripts/_JQuery/jquery-loader.js"></script>
    <script src="~/Scripts/Login/Login.js"></script>
    <script type="text/javascript">
        LocalAPI.Init();
    </script>
</body>
</html>