<div class="panel css-div-partial col-md-12" style="border-color:#74B749 !important; min-height:450px;">
    <div class="panel-heading col-md-12" style="background-color:#74B749 !important;">
        <i class="fa fa-bars"></i><span> Criar Atividades</span>
    </div>
    <div class="row-fluid">
        <div class="panel-body js-div-panel-atividade">
            <br />
            <div class="row css-div-margin">
                <div class="row">
                    <div class="col-md-8">
                        <input id="js-txt-typeahead" class="form-control" type="text" placeholder="Digitar ID ou Nome da OS" />
                    </div>
                    <div class="col-md-4">
                        <input type="button" class="btn btn-success" id="js-btn-selecionar-os" value="Selecionar esta OS" />
                        <input type="button" class="btn btn-danger" id="js-btn-cancelar-os" value="Cancelar" />
                        <input type="button" class="btn btn-info" id="js-btn-limpar-os" value="Limpar" />
                    </div>
                </div>
                <br />
                <div id="js-div-partial-criar-atividade-conteudo">

                </div>
                <div id="js-div-partial-criar-atividade-conteudo-anexo">

                </div>
            </div>
        </div>
    </div>
</div>
